<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <br />

    <div class="row">
      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="../../assets/Jigar.jpg"
                alt="Avatar"
                style="width: 250px; height: 200px"
              />
            </div>
            <div class="flip-card-back">
              <h1>Jigar Singh</h1>
              <p>Full Stack Developer,Team Lead</p>
              <p>A passionate java developer with great leadership skills</p>
              <p></p>
              <p><a href="mailto:jigar.singh@ltimindtree.com">Contact</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="../../assets/ketaki.jpeg"
                alt="Avatar"
                style="width: 300px; height: 200px"
              />
            </div>
            <div class="flip-card-back">
              <h1>Ketaki Tamhane</h1>
              <p>Full Stack Developer</p>
              <p>
                Core Java Developer working on backend technologies like
                SpringBoot
              </p>
              <p></p>
              <p><a href="mailto:ketaki.tamhane@ltimindtree.com">Contact</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="../../assets/Pratik.jpg"
                alt="Avatar"
                style="width: 250px; height: 200px"
              />
            </div>
            <div class="flip-card-back">
              <h1>Pratik Hire</h1>
              <p>Full Stack Developer</p>
              <p>Passionate Java developer with backend Security</p>
              <p></p>
              <p><a href="mailto:pratik.hire@ltimindtree.com">Contact</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="../../assets/rajrit.png"
                alt="Avatar"
                style="width: 250px; height: 250px"
              />
            </div>
            <div class="flip-card-back">
              <h1>Rajrit Ghosal</h1>
              <p>Full Stack Developer</p>
              <p>Proficient with java,Spring Boot and RESTful API's</p>
              <p></p>
              <p><a href="mailto:rajrit.ghosal@ltimindtree.com">Contact</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="../../assets/Kishore.png"
                alt="Avatar"
                style="width: 250px; height: 250px"
              />
            </div>
            <div class="flip-card-back">
              <h1>Kishore Kumar</h1>
              <p>Full Stack Developer</p>
              <p>Highly motivated individual with passion for UI designing</p>
              <p></p>
              <p><a href="mailto:kishorekumar.m@ltimindtree.com">Contact</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                src="../../assets/Mani.png"
                alt="Avatar"
                style="width: 250px; height: 250px"
              />
            </div>
            <div class="flip-card-back">
              <h1>Manikanta</h1>
              <p>Full Stack Developer</p>
              <p>
                Interested in Angular Framework and it's application in web
                development
              </p>
              <p></p>
              <p><a href="mailto:t.manikanta@ltimindtree.com">Contact</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
