<div>
    <h1>MediService - A Medical Application</h1>
    <br />
    <h3>
      MediService built in 2024 aims at solving the real world problems in health
      care industry by digitalization of all the services
    </h3>
    <br />
    <p>
      An application to manage medical equipment within healthcare facilities
      streamlines inventory tracking, maintenance schedules, and procurement
      processes. It allows users to monitor equipment utilization, automate
      maintenance reminders, track repairs, and ensure regulatory compliance.
      Additionally, it can facilitate data-driven decision-making, optimize
      equipment allocation, and enhance overall operational efficiency within the
      healthcare environment.
    </p>
  </div>
  